/* Color */
:root {
  --red: #bb3631;
  --gold: #d5ad69;
  --goldhover: #c9a463;
}

/* Font */
@font-face {
  font-family: "alsscrp";
  src: url("../assests/font/als-script/alsscrp.ttf");
}

@keyframes shake {
  0%,
  100% {
    transform: rotate(0deg);
    transform-origin: 50% 50%;
  }

  10% {
    transform: rotate(8deg);
  }

  20%,
  40%,
  60% {
    transform: rotate(-10deg);
  }

  30%,
  50%,
  70% {
    transform: rotate(10deg);
  }

  80% {
    transform: rotate(-8deg);
  }

  90% {
    transform: rotate(8deg);
  }
}

@keyframes bungakanan {
  0%,
  100% {
    transform: rotate(30deg);
    transform-origin: 50% 50%;
  }

  10% {
    transform: rotate(-30deg);
  }

  20%,
  40%,
  60% {
    transform: rotate(-10deg);
  }

  30%,
  50%,
  70% {
    transform: rotate(10deg);
  }

  80% {
    transform: rotate(-8deg);
  }

  90% {
    transform: rotate(8deg);
  }
}

html {
  margin: 0;
  padding: 0;
}

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: "Times New Roman", Times, serif;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

/* Pastikan elemen-elemen lainnya seperti gambar atau konten yang panjang tidak melewati batas */
img {
  max-width: 100%;
  height: auto;
}

.carousel img {
  max-width: 100%;
  height: auto;
}

.cover {
  background-image: url("../assests/img/bg.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  background-repeat: no-repeat;
  justify-content: center;
  text-align: center;
  padding-top: 20vh;
  background-attachment: fixed;
}

.tittle {
  color: #fffffc;
  padding: 0 2rem;
}

.tittle img {
  width: 30vh;
  margin-bottom: -70px;
}

.tittle p {
  margin-bottom: 10px;
  font-size: 1rem;
}
.tittle h1 {
  font-family: alsscrp;
  font-size: 4rem;
  color: #fffffc;
  line-height: 4rem;
  padding: 20px 0px;
  margin-top: -20px;
}

#main {
  display: block;
  background-image: url(../assests/img/img-noise-361x370.png);
}
.audio-icon-wrapper {
  max-width: 100v;
  width: 3rem;
  height: 3rem;
  font-size: 3rem;
  position: fixed;
  z-index: 99;
  bottom: 1.5rem;
  right: 25px;
  cursor: pointer;
  animation: rotating 4s linear infinite;
  transform-origin: center;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 0;
  color: rgb(185, 142, 62);
}
@keyframes rotating {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
nav {
  background-color: var(--gold);
  padding: 1.5rem;
  display: flex;
  justify-content: space-around;
  text-align: center;
  list-style: none;
  z-index: 5;
  position: fixed;
  bottom: 1rem;
  width: 60%;
  margin-left: 25px;
  border-bottom: var(--red) solid 3px;
  border-radius: 1rem;
}

nav a {
  text-decoration: none;
  font-size: 12px;
  color: #fffff0;
  z-index: 2;
}

.countdown {
  text-align: center;
  padding: 3rem 2rem;
  background-image: url(../assests/img/bg-quotes.jpg);

  background-size: cover;
  background-position: bottom;
}
.countdown h2 {
  margin-top: 2rem;
  color: #fffffc;
  font-family: alsscrp;
  margin-bottom: 1em;
}

.countdown-container {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  z-index: 1;
}

.days-container,
.hours-container,
.minutes-container,
.seconds-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--gold);
  border: 5px solid var(--red);
  font-size: 0.5rem;
  width: 100px;
  height: 5rem;
  border-radius: 0.5rem;
  color: var(--red);
}

.days,
.hours,
.minutes,
.seconds {
  font-size: 2.5em;
}

.days-label,
.hours-label,
.minutes-label,
.seconds-label {
  text-transform: uppercase;
  margin-bottom: 5px;
}
.quotes {
  background-color: var(--goldhover);
  padding: 2rem 2rem;
  font-size: 16px;
  text-align: center;
  color: #fffff0;
  max-width: 100%;
}


.pengantin {
  z-index: -1;
  padding: 4rem 0;
  background-image: url(../assests/img/bg-pengantin.jpg);
  background-repeat: no-repeat;
  
  background-size: 40rem;
  background-position: top;
  justify-content: center;
  align-items: center;
  border: blue solid 1px;
}

.pengantinprofile {
  align-items: center;
  text-align: center;
  padding: 1rem 2rem;
  border: #bb3631 solid 1px;
}

.textpengantin h2 {
  color: var(--red);
  font-size: 2rem;
  font-family: alsscrp;
}
.textpengantin p {
  font-size: 16px;
  color: var(--red);
}
.pengantin img {
  width: 12rem;
  height: 15rem;
  border-radius: 20px;
}

.iconMedsos {
  font-size: 1rem;
  gap: 5px;
  margin-top: 1rem;
}

.iconMedsos a i {
  background-color: var(--gold);
  border-radius: 0.5rem;
  text-decoration: none;
  color: #fffff0;
  padding: 0.5rem 0.7rem;
}

.waktuLokasi {
  padding: 1rem 0rem 0rem 0rem;

  background-image: url(../assests/img/img-noise-361x370.png);
  color: var(--gold);
  text-align: center;
}

.lokasi {
  padding: 1rem 1rem;
  text-align: center;
  margin: 4rem 1rem 1rem 1rem;
  background: rgba(255, 255, 255, 0.17);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4.6px);
  -webkit-backdrop-filter: blur(4.6px);
}
#gapura {
  position: absolute;
  left: 0;
  margin-top: -15rem;
  height: 30rem;
  max-width: 100%;
}
.lokasi h2 {
  font-family: alsscrp;
}
.lokasi p {
  font-size: 12px;
  line-height: 1rem;
}

.lokasi a {
  text-decoration: none;
  background-color: var(--gold);
  color: #fffff0;
  padding: 10px 20px;
  border-radius: 20px;
  font-size: 12px;
}
.lokasi a:hover {
  background-color: var(--gold);
}

/* gallery photo pengantin */
.gallery-container {
  max-width: 100%;
  overflow: hidden;
  position: relative;
  margin-top: 5rem;

  text-align: center;

  justify-content: center;
}

.gallery-container h2 {
  font-family: alsscrp;
  margin-bottom: -1rem;
  margin-top: 3rem;
  color: var(--gold);
}

.gallery {
  display: flex;
  animation: scroll 24s linear infinite;
}

.gallery img {
  width: 900px;
  height: 200px;
  margin-right: 10px;
  border-radius: 10px;
}

.gallery-video {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 0.5rem;
  padding: 30px 0;
}

.gallery-video video {
  width: 100%;
  height: auto;
  display: block;
}
iframe {
  width: 23.3rem;
  height: 15rem;
  margin-top: 2rem;
}
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.section-special-guests {
  max-width: 100%;
  overflow-x: auto; /* Mengizinkan scroll horizontal pada tabel */
  box-sizing: border-box;
}
.section-special-guests {
  margin-top: 2rem;
  max-width: 100%;
  max-width: 800px;
  color: var(--gold);
  background-image: url(../assests/img/img-noise-361x370.png);
  text-align: center;
  padding: 0 1rem;
}

.section-special-guests h2 {
  font-family: alsscrp;
}
.section-special-guests table {
  padding: 2rem 1rem;
  max-width: 100%;
  border-collapse: collapse;
  background-image: url(../assests/img/bgtable.png);
  background-size: cover;
  background-position: left;
}
.section-special-guests table th,
td {
  border: 2px solid var(--gold);
  padding: 1rem 1rem;
  text-align: left;
  width: 100%;
  color: #fffff0;
}

.RSVP {
  margin-top: 2rem;
  padding: 2rem 2rem 2rem 1rem;
  color: var(--gold);
}

.RSVP h2 {
  text-align: center;
  font-family: alsscrp;
  margin-top: 1rem;
}
.flex-form {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.flex-form-input {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.form-group label {
  display: block;
  margin: 10px 0 5px;
}

select {
  padding: 8px;
  margin-bottom: 10px;
  border-radius: 0.5rem;
  border: none;
  border-bottom: 2px solid var(--gold);
}

textarea,
input[type="text"],
input[type="number"],
input[type="email"] {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border-radius: 0.5rem;
  border: none;
  border-bottom: 2px solid var(--gold);
}

textarea:focus,
select:focus,
input[type="text"]:focus,
input[type="number"]:focus,
input[type="email"]:focus {
  border-color: hsl(
    var(--input-focus-h),
    var(--input-focus-s),
    var(--input-focus-l)
  );
}
.form-group {
  margin-bottom: 15px;
}

button {
  background-color: var(--gold);
  color: #fffff0;
  padding: 10px 20px;
  font-size: 12px;
  border: solid var(--red) 2px;
  border-radius: 0.5rem;
}

button:hover {
  background-color: var(--goldhover);
}

#datakehadiran {
  margin-top: 2rem;
}
.RSVP .rsvpData {
  overflow-y: auto;
  max-width: 100%;
  height: 20rem;
  scrollbar-color: var(--gold) rgb(255, 255, 255);
  background-image: url(../assests/img/wayanggendut.png);
  background-size: contain;
  background-position: 1rem 2rem;
}
table {
  max-width: 100%;
  background-color: var(--gold);
  color: #fffff0;
  border-collapse: collapse;
  margin-top: 1rem;
}
table,
th,
td {
  border: 1px solid black;
}
th,
td {
  padding: 10px;
  text-align: left;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  background-color: #f0f0f0;
  margin-bottom: 10px;
  padding: 10px;
}
.story {
  color: white;
  padding: 1rem 2rem;
  text-align: center;
  background-color: url(../assests/img/img-noise-361x370.png);
}

section .story h2 {
  font-family: alsscrp;
  color: var(--gold);
}
section .story p {
  color: var(--gold);
  font-size: 12px;
}
section .story .fotostory {
  display: flex;
  gap: 2rem;
  align-items: center;
  margin: 1rem;
  justify-content: center;
}

section .story .fotostory img {
  max-width: 100%;
}

section .story .fotostory hr {
  transform: rotate(90deg);
  height: 1rem;
  border: 2px solid var(--gold);
}

#bungakiri {
  width: 40%;
  position: absolute;
  left: 0rem;
  transform: rotate(30deg);
  margin-top: -5rem;
  animation: shake 10s ease-in 0s infinite;
}
#bungakanan {
  position: absolute;
  width: 40%;
  right: 0.7rem;
  transform: rotate(-30deg);
  margin-top: -5rem;
  animation: shake 10s ease-in 0s infinite;
}

#bungastory {
  position: absolute;
  right: 0.7rem;
  width: 7rem;
  margin-top: -7rem;
  right: 2rem;
  animation: shake 10s ease-in 0s infinite;
}

section .gift {
  padding: 4rem 1rem;
  text-align: center;
}

section .gift h2 {
  color: var(--gold);
  font-family: alsscrp;
}

.gift p {
  margin-bottom: 1rem;
  color: var(--gold);
}

section .gift .gifts-content {
  display: flex;
  justify-content: center;
  gap: 2rem;
}
.payment {
  z-index: 2;
}
.payment p {
  margin-top: 0.5rem;
  color: #fffff0;
  background-color: var(--gold);
  padding: 0.5rem;
  border-radius: 10px;
}
.gifts-content .payment img {
  width: 7rem;
  border-radius: 1rem;
  z-index: 1;
  filter: grayscale(2);
}

.gifts-content img:hover {
  filter: none;
}
section #rumah {
  position: absolute;
  margin-top: -14rem;
  opacity: 20%;
  z-index: 0;
  max-width: 100%;
}

.massages {
  max-width: 100%;
  padding: 2rem 2rem 2rem 1rem;
  background-image: url(../assests/img/covermassages.png);
  background-size: cover;
  background-position: right;
  color: #fffff0;
}

.massages h2 {
  text-align: center;
  font-family: alsscrp;
}

.massages h3 {
  margin-top: 2rem;
}
.section-messages form {
  display: flex;
  flex-direction: column;
}

.section-messages label {
  font-size: 16px;
  margin-bottom: 8px;
}

.section-messages textarea {
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ddd;
  border-radius: 4px;
  min-height: 80px;
  resize: vertical;
  margin-bottom: 16px;
}

#messageList {
  list-style: none;
  padding: 0;
  margin-top: 20px;
  overflow-y: scroll;
  height: 10rem;
  scrollbar-color: var(--gold) rgb(255, 255, 255);
}

.massages ul {
  color: black;
  text-align: left;
  padding: 1rem;
}
.massages ul li {
  background-color: #fffffc;
  border-bottom: 5px solid #bca860;
  border-radius: 10px;
}
.thanks {
  padding: 2rem 1rem;
  text-align: center;
  justify-content: center;
  background-color: url(../assests/img/img-noise-361x370.png);
}
#wayangcowo {
  position: absolute;
  width: 6rem;
  left: 0;
  margin-top: 8rem;
  animation: shake 10s ease-in 0s infinite;
}
#wayangcewe {
  position: absolute;
  width: 6rem;
  right: 0;
  margin-top: 8rem;
  animation: shake 10s ease-in 0s infinite;
}
.thanks #pengantinvector {
  width: 50%;
  padding: 2rem 0.5rem 0 0.5rem;
  background-color: var(--gold);
  border: 0.5rem solid var(--gold);
  border-radius: 100px 100px 0 0;
  box-shadow: 0px 0px 30px 0px rgba(60, 49, 28, 0.75);
}

.thanks h2 {
  font-family: alsscrp;
  color: var(--gold);
}

.thanks p {
  color: var(--gold);
}
/* Media Query for Laptops and Desktops */
@media (min-width: 400px) {
}
