@font-face {
  font-family: "poppins";
  src: url("../assests/font/Poppins-Medium.ttf");
}

@font-face {
  font-family: "jawa";
  src: url("../assests/font/JAWAPALSU.TTF");
}

@keyframes shake {
  0%,
  100% {
    transform: rotate(0deg);
    transform-origin: 50% 50%;
  }

  10% {
    transform: rotate(8deg);
  }

  20%,
  40%,
  60% {
    transform: rotate(-10deg);
  }

  30%,
  50%,
  70% {
    transform: rotate(10deg);
  }

  80% {
    transform: rotate(-8deg);
  }

  90% {
    transform: rotate(8deg);
  }
}

@keyframes bungakanan {
  0%,
  100% {
    transform: rotate(30deg);
    transform-origin: 50% 50%;
  }

  10% {
    transform: rotate(-30deg);
  }

  20%,
  40%,
  60% {
    transform: rotate(-10deg);
  }

  30%,
  50%,
  70% {
    transform: rotate(10deg);
  }

  80% {
    transform: rotate(-8deg);
  }

  90% {
    transform: rotate(8deg);
  }
}

html {
  margin: 0;
  padding: 0;
}

* {
  margin: 0;
  scroll-behavior: smooth;
  font-family: "Times New Roman", Times, serif;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

/* Pastikan elemen-elemen lainnya seperti gambar atau konten yang panjang tidak melewati batas */
img {
  width: 100%;
  height: auto;
}

.carousel img {
  max-width: 100%;
  height: auto;
}

.hero {
  background-image: url("../assests/img/heroo.png");
  background-size: cover;
  background-position: center;
  height: 85vh;
  background-repeat: no-repeat;
  justify-content: center;
  text-align: center;
  padding-top: 100px;
  background-attachment: fixed;
}

.tittle {
  color: #fffffc;
  padding: 0 2rem;
}

.tittle img {
  width: 30vh;
  margin-bottom: -70px;
}

.tittle p {
  margin-bottom: 10px;
  font-size: 1rem;
}
.tittle h1 {
  font-family: jawa;
  font-size: 4rem;
  color: #fffffc;
  line-height: 4rem;
  padding: 20px 0px;
  margin-top: -20px;
}

.tittle button {
  background-color: #785c34;
  color: #fffff0;
  padding: 10px 20px;
  font-size: 12px;
  border: none;
}

.tittle button:hover {
  background-color: #785c34;
}

#main {
  display: block;
  background-image: url(../assests/img/img-noise-361x370.png);
}
.audio-icon-wrapper {
  width: 3rem;
  height: 3rem;
  font-size: 3rem;
  position: fixed;
  z-index: 99;
  bottom: 2.5rem;
  right: 2rem;
  cursor: pointer;
  animation: rotating 4s linear infinite;
  transform-origin: center;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 0;
  color: rgb(185, 142, 62);
}
@keyframes rotating {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
nav {
  background-color: #785c34;
  padding: 1rem;
  display: flex;
  justify-content: space-around;
  text-align: center;
  list-style: none;
  z-index: 999;
  position: sticky;
  top: 0;
  border-bottom: #fffff0 solid 3px;
}

nav a {
  text-decoration: none;
  font-size: 12px;
  color: #fffff0;
  z-index: 2;
}

.countdown {
  text-align: center;
  padding: 2rem 2rem;
  background-image: url(../assests/img/12.png);
  background-size: cover;
  background-position: bottom;
}
.countdown h2 {
  color: #785c34;
  font-family: jawa;
}

.countdown-container {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  z-index: 1;
}

.days-container,
.hours-container,
.minutes-container,
.seconds-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #785c349a;
  border: 5px solid rgba(255, 255, 255, 0.3);
  font-size: 0.5rem;
  width: 100px;
  height: 5rem;
  border-radius: 1rem;
  color: #fffff0;
  z-index: 1;
}

.days,
.hours,
.minutes,
.seconds {
  font-size: 2.5em;
}

.days-label,
.hours-label,
.minutes-label,
.seconds-label {
  text-transform: uppercase;
  margin-bottom: 5px;
}
.quotes {
  background-image: url(../assests/img/quotesbg.png);
  background-position: center;
  background-size: cover;
  padding: 2rem 2rem;
  font-size: 16px;
  text-align: center;
  color: #fffff0;
  font-style: italic;
}

.quotes hr {
  margin: 1rem 0;
}

.quotes #daunkiri {
  position: absolute;
  left: 0;
  width: 8rem;
  margin-top: -5rem;
  z-index: 1;
}

.quotes #daunkanan {
  position: absolute;
  right: 0;
  transform: scaleX(-1);
  width: 8rem;
  margin-top: -5rem;
  z-index: 1;
}

.pengantin {
  z-index: -1;

  padding: 4rem 0;
  background-image: url(../assests/img/img-noise-361x370.png);
}
.pengantinpria {
  margin-top: 2rem;
}
.pengantinpria,
.pengantinwanita {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
}

.pengantinwanita .textpengantin {
  padding-left: 2rem;
}

.textpengantin h2 {
  color: #916e3d;
  font-family: jawa;
}
.textpengantin p {
  font-size: 16px;
  color: #916e3d;
}
.pengantin img {
  width: 10rem;
  height: 10rem;
  border-radius: 20px;
}

#cowogendang {
  position: absolute;
  right: 0;
  margin-top: -5rem;
  width: 7rem;
  height: auto;
  animation: shake 10s ease-in 0s infinite;
  z-index: 1;
}

#cewenyanyi {
  position: absolute;
  left: 0;
  width: 7rem;
  height: auto;
  margin-top: 5rem;
  animation: shake 10s ease-in-out 0s infinite;
  z-index: 1;
}

.iconMedsos {
  display: flex;
  font-size: 1rem;
  gap: 5px;
  margin-top: 1rem;
}

.iconMedsos a i {
  background-color: #916e3d;
  border-radius: 100px;
  text-decoration: none;
  color: #fffff0;
  padding: 0.5rem 0.7rem;
}

.waktuLokasi {
  padding: 1rem 0rem 0rem 0rem;

  background-image: url(../assests/img/img-noise-361x370.png);
  color: #916e3d;
  text-align: center;
}

.lokasi {
  padding: 1rem 1rem;
  text-align: center;
  margin: 4rem 1rem 1rem 1rem;
  background: rgba(255, 255, 255, 0.17);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4.6px);
  -webkit-backdrop-filter: blur(4.6px);
}
#gapura {
  position: absolute;
  left: 0;
  margin-top: -15rem;
  height: 30rem;
  width: 100%;
}
.lokasi h2 {
  font-family: jawa;
}
.lokasi p {
  font-size: 12px;
  line-height: 1rem;
}

.lokasi a {
  text-decoration: none;
  background-color: #916e3d;
  color: #fffff0;
  padding: 10px 20px;
  border-radius: 20px;
  font-size: 12px;
}
.lokasi a:hover {
  background-color: #785c34;
}

/* gallery photo pengantin */
.gallery-container {
  width: 100%;
  overflow: hidden;
  position: relative;
  margin-top: 5rem;
  text-align: center;
}

.gallery-container h2 {
  font-family: jawa;
  margin-bottom: -1rem;
  margin-top: 1rem;
  color: #916e3d;
}

.gallery {
  margin-top: 30px;
  display: flex;
  animation: scroll 24s linear infinite;
}

.gallery img {
  width: 900px;
  height: 200px;
  margin-right: 10px;
  border-radius: 10px;
}

.gallery-video {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 30px;
}

.gallery-video video {
  max-width: 100vh;
  height: auto;
  display: block;
}
iframe {
  width: 23.3rem;
  height: 15rem;
  margin-top: 2rem;
}
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

@media (max-width: 600px) {
  .gallery-video video {
    max-width: 95%;
  }
}
.section-special-guests {
  max-width: 100vh;
  overflow-x: auto; /* Mengizinkan scroll horizontal pada tabel */
  box-sizing: border-box;
}
.section-special-guests {
  margin-top: 2rem;
  width: 100%;
  max-width: 800px;
  color: #916e3d;
  background-image: url(../assests/img/img-noise-361x370.png);
  text-align: center;
  padding: 0 1rem;
}

.section-special-guests h2 {
  font-family: jawa;
}
.section-special-guests table {
  padding: 2rem 1rem;
  width: 100%;
  border-collapse: collapse;
  background-image: url(../assests/img/bgtable.png);
  background-size: cover;
  background-position: left;
}
.section-special-guests table th,
td {
  border: 2px solid #785c34;
  padding: 1rem 1rem;
  text-align: left;
  width: 100%;
  color: #fffff0;
}

.RSVP {
  margin-top: 2rem;
  padding: 2rem 2rem 2rem 1rem;
  color: #916e3d;
}

.RSVP h2 {
  text-align: center;
  font-family: jawa;
}

.form-group label {
  display: block;
  margin: 10px 0 5px;
}
textarea,
select,
input[type="text"],
input[type="number"],
input[type="email"] {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border-radius: 0.5rem;
  border: none;
  border-bottom: 2px solid #916e3d;
}

textarea:focus,
select:focus,
input[type="text"]:focus,
input[type="number"]:focus,
input[type="email"]:focus {
  border-color: hsl(
    var(--input-focus-h),
    var(--input-focus-s),
    var(--input-focus-l)
  );
}
.form-group {
  margin-bottom: 15px;
}

button {
  background-color: #785c34;
  color: #fffff0;
  padding: 10px 20px;
  font-size: 12px;
  border: none;
  border-radius: 1rem;
}

button:hover {
  background-color: #785c34;
}

#datakehadiran {
  margin-top: 2rem;
}
.RSVP .rsvpData {
  overflow-y: auto;
  width: 100%;
  height: 20rem;
  scrollbar-color: #916e3d rgb(255, 255, 255);
  background-image: url(../assests/img/wayanggendut.png);
  background-size: contain;
  background-position: 1rem 2rem;
}
table {
  width: 100%;
  background-color: #916e3d;
  color: #fffff0;
  border-collapse: collapse;
  margin-top: 1rem;
}
table,
th,
td {
  border: 1px solid black;
}
th,
td {
  padding: 10px;
  text-align: left;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  background-color: #f0f0f0;
  margin-bottom: 10px;
  padding: 10px;
}
.story {
  color: white;
  padding: 1rem 2rem;
  text-align: center;
  background-color: url(../assests/img/img-noise-361x370.png);
}

section .story h2 {
  font-family: jawa;
  color: #916e3d;
}
section .story p {
  color: #916e3d;
  font-size: 12px;
}
section .story .fotostory {
  display: flex;
  gap: 2rem;
  align-items: center;
  margin: 1rem;
  justify-content: center;
}

section .story .fotostory img {
  width: 100%;
}

section .story .fotostory hr {
  transform: rotate(90deg);
  height: 3rem;
}

#bungakiri {
  width: 50%;
  position: absolute;
  left: -3rem;
  transform: rotate(30deg);
  margin-top: -7rem;
  animation: shake 10s ease-in 0s infinite;
}
#bungakanan {
  position: absolute;
  width: 50%;
  right: -3rem;
  transform: rotate(-30deg);
  margin-top: -7rem;
  animation: shake 10s ease-in 0s infinite;
}

#bungastory {
  position: absolute;
  right: 0;
  width: 7rem;
  margin-top: -7rem;
  right: 2rem;
  animation: shake 10s ease-in 0s infinite;
}

section .gift {
  padding: 4rem 1rem;
  text-align: center;
}

section .gift h2 {
  color: #916e3d;
  font-family: jawa;
}

.gift p {
  margin-bottom: 1rem;
  color: #916e3d;
}

section .gift .gifts-content {
  display: flex;
  justify-content: center;
  gap: 2rem;
}
.payment {
  z-index: 2;
}
.payment p {
  margin-top: 0.5rem;
  color: #fffff0;
  background-color: #916e3d;
  padding: 0.5rem;
  border-radius: 10px;
}
.gifts-content .payment img {
  width: 7rem;
  border-radius: 1rem;
  z-index: 1;
  filter: grayscale(2);
}

.gifts-content img:hover {
  filter: none;
}
section #rumah {
  position: absolute;
  margin-top: -14rem;
  opacity: 20%;
  z-index: 0;
  width: 100%;
}

.massages {
  width: 90%;
  padding: 2rem 2rem 2rem 1rem;
  background-image: url(../assests/img/covermassages.png);
  background-size: cover;
  background-position: right;
  color: #fffff0;
  text-decoration: underline #916e3d;
}

.massages h2 {
  text-align: center;
  font-family: jawa;
}

.massages h3 {
  margin-top: 2rem;
}
.section-messages form {
  display: flex;
  flex-direction: column;
}

.section-messages label {
  font-size: 16px;
  margin-bottom: 8px;
}

.section-messages textarea {
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ddd;
  border-radius: 4px;
  min-height: 80px;
  resize: vertical;
  margin-bottom: 16px;
}

#messageList {
  list-style: none;
  padding: 0;
  margin-top: 20px;
  overflow-y: scroll;
  height: 10rem;
  scrollbar-color: #916e3d rgb(255, 255, 255);
}

.massages ul {
  color: black;
  text-align: left;
  padding: 1rem;
}
.massages ul li {
  background-color: #fffffc;
}
.thanks {
  padding: 2rem 1rem;
  text-align: center;
  justify-content: center;
  background-color: url(../assests/img/img-noise-361x370.png);
}
#wayangcowo {
  position: absolute;
  width: 6rem;
  left: 0;
  margin-top: 8rem;
  animation: shake 10s ease-in 0s infinite;
}
#wayangcewe {
  position: absolute;
  width: 6rem;
  right: 0;
  margin-top: 8rem;
  animation: shake 10s ease-in 0s infinite;
}
.thanks #pengantinvector {
  width: 50%;
  padding: 2rem 0.5rem 0 0.5rem;
  background-color: #785c34;
  border: 0.5rem solid #916e3d;
  border-radius: 100px 100px 0 0;
  box-shadow: 0px 0px 30px 0px rgba(60, 49, 28, 0.75);
}

.thanks h2 {
  font-family: jawa;
  color: #916e3d;
}

.thanks p {
  font: 1rem;
  color: #916e3d;
}
/* Media Query for Laptops and Desktops */
@media (min-width: 767px) and (max-width: 1280px) {
  .hero {
    background-size: 130%;
  }
  .tittle img {
    width: 50vh;
    margin-top: -6rem;
    margin-bottom: -6rem;
  }
  .tittle p {
    margin-bottom: 10px;
    font-size: 1.2rem;
  }
  .tittle h1 {
    font-size: 5rem;
  }

  .tittle button {
    font-size: 1rem;
  }
  .audio-icon-wrapper {
    width: 4rem;
    height: 4rem;
    font-size: 4rem;
  }
  nav {
    z-index: 999;
    padding: 2rem 4rem;
    display: flex;
    justify-content: space-around;
    text-align: center;
    list-style: none;
  }

  nav a {
    font-size: 1rem;
  }

  .countdown {
    text-align: center;
    padding: 10rem 1rem;
  }

  .countdown img {
    position: absolute;
    right: 0;
    z-index: 0;
    opacity: 20%;
  }
  .countdown h2 {
    color: #785c34;
    font-family: jawa;
    font-size: 3rem;
  }

  .countdown-container {
    justify-content: center;
  }

  .days-container,
  .hours-container,
  .minutes-container,
  .seconds-container {
    width: 10rem;
    height: 10rem;
  }

  .days,
  .hours,
  .minutes,
  .seconds {
    font-size: 3rem;
  }

  .quotes {
    padding: 7rem 10rem;
    font-size: 2rem;
  }
  .quotes hr {
    margin: 2rem 0;
  }

  .quotes #daunkiri {
    width: 15rem;
    margin-top: -7rem;
  }

  .quotes #daunkanan {
    width: 15rem;
    margin-top: -7rem;
  }
  #gapura {
    left: 30%;
    right: 30%;
  }
  .pengantin {
    z-index: -1;
    padding: 2rem 20rem;
    background-image: url(../assests/img/img-noise-361x370.png);
  }
  .pengantinpria,
  .pengantinwanita {
    display: flex;
    justify-content: space-around;
  }

  .pengantinwanita .textpengantin {
    padding-left: 0rem;
  }

  .textpengantin h2 {
    color: #916e3d;
    font-family: jawa;
    font-size: 2rem;
  }
  .textpengantin p {
    font-size: 1rem;
    color: #916e3d;
  }
  .pengantin img {
    width: 45%;
    height: 45%;
    border-radius: 20px;
  }

  #cowogendang {
    position: absolute;
    right: 0;
    margin-top: -7rem;
    width: 20rem;
    height: auto;
    animation: shake 10s ease-in 0s infinite;
    z-index: 1;
  }

  #cewenyanyi {
    position: absolute;
    left: 0;
    width: 20rem;
    height: auto;
    margin-top: -7rem;
    animation: shake 10s ease-in-out 0s infinite;
    z-index: 1;
  }
  .iconMedsos a {
    text-decoration: none;
  }
  .iconMedsos {
    display: flex;
    font-size: 1.5rem;
    gap: 5px;
    margin-top: 1rem;
  }

  .iconMedsos a i {
    background-color: #916e3d;
    border-radius: 100px;
    text-decoration: none;
    color: #fffff0;
    padding: 0.5rem 0.7rem;
  }

  .waktuLokasi {
    padding: 1rem 0rem 0rem 0rem;

    background-image: url(../assests/img/img-noise-361x370.png);
    color: #916e3d;
    text-align: center;
    display: flex;
  }

  .lokasi {
    padding: 4rem 5rem;
    text-align: center;
    margin: 5rem 5rem 1rem 5rem;
    background: rgba(255, 255, 255, 0.17);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.6px);
    -webkit-backdrop-filter: blur(4.6px);
  }
  #gapura {
    position: absolute;
    margin-top: 0rem;
    margin-left: 1.5rem;
    width: auto;
  }
  .lokasi h2 {
    font-family: jawa;
    font-size: 2rem;
  }
  .lokasi p {
    font-size: 1rem;
    line-height: 1rem;
  }

  .lokasi a {
    text-decoration: none;
    background-color: #916e3d;
    color: #fffff0;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 12px;
  }
  .lokasi a:hover {
    background-color: #785c34;
  }
  #bungakiri {
    width: 30%;
    position: absolute;
    left: -3rem;
    transform: rotate(30deg);
    margin-top: -10rem;
    animation: shake 10s ease-in 0s infinite;
  }
  #bungakanan {
    position: absolute;
    width: 30%;
    right: -3rem;
    transform: rotate(-30deg);
    margin-top: -7rem;
    animation: shake 10s ease-in 0s infinite;
  }
  iframe {
    width: 100vh;
    height: 25rem;
    margin-top: 2rem;
  }

  .section-special-guests {
    max-width: 100vh;
    overflow-x: auto; /* Mengizinkan scroll horizontal pada tabel */
    box-sizing: border-box;
    text-align: center;
    justify-content: center;
  }
  .section-special-guests {
    margin-top: 2rem;

    color: #916e3d;
    background-image: url(../assests/img/img-noise-361x370.png);
    text-align: center;
    padding: 0 0rem;
    justify-content: center;
  }
  #special-guests {
    justify-content: center;
    align-items: center;
    padding: 0rem 25%;
  }
  .section-special-guests h2 {
    font-family: jawa;
    font-size: 3rem;
  }
  .section-special-guests table {
    padding: 2rem 1rem;
    width: 100%;

    background-image: url(../assests/img/bgtable.png);
    background-size: cover;
    background-position: left;
  }
  .section-special-guests table th,
  td {
    border: 2px solid #785c34;
    padding: 1rem 1rem;
    text-align: left;
    width: 100%;
    color: #fffff0;
  }
  .RSVP {
    margin-top: 2rem;
    padding: 2rem 15rem;
    color: #916e3d;
  }

  .RSVP h2 {
    text-align: center;
    font-family: jawa;
    font-size: 3rem;
    margin-top: 3rem;
  }

  .form-group label {
    display: block;
    margin: 10px 0 5px;
  }
  textarea,
  select,
  input[type="text"],
  input[type="number"],
  input[type="email"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 0.5rem;
    border: none;
    border-bottom: 2px solid #916e3d;
  }

  textarea:focus,
  select:focus,
  input[type="text"]:focus,
  input[type="number"]:focus,
  input[type="email"]:focus {
    border-color: hsl(
      var(--input-focus-h),
      var(--input-focus-s),
      var(--input-focus-l)
    );
  }
  .form-group {
    margin-bottom: 15px;
  }

  button {
    background-color: #785c34;
    color: #fffff0;
    padding: 10px 20px;
    font-size: 12px;
    border: none;
  }

  button:hover {
    background-color: #785c34;
  }

  #datakehadiran {
    margin-top: 2rem;
  }
  .RSVP .rsvpData {
    overflow-x: hidden;
    overflow-y: auto;
    width: 100%;
    height: 20rem;
    background-image: url(../assests/img/wayanggendut.png);
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: top;
  }
  table {
    width: 100%;
    background-color: #916e3d;
    color: #fffff0;
    border-collapse: collapse;
    margin-top: 1rem;
  }
  table,
  th,
  td {
    border: 1px solid black;
  }
  th,
  td {
    padding: 10px;
    text-align: left;
  }
  ul {
    list-style-type: none;
    padding: 0;
  }
  li {
    background-color: #f0f0f0;
    margin-bottom: 10px;
    padding: 10px;
  }
  .story {
    color: white;
    padding: 1rem 10rem;
    text-align: center;
    background-color: url(../assests/img/img-noise-361x370.png);
  }

  section .story h2 {
    font-family: jawa;
    color: #916e3d;
    font-size: 3rem;
  }
  section .story p {
    color: #916e3d;
  }
  section .story .fotostory {
    display: flex;
    gap: 2rem;
    align-items: center;
    margin: 1rem;
    justify-content: center;
  }

  section .story .fotostory img {
    width: 50%;
  }

  section .story .fotostory hr {
    height: 3rem;
    color: black;
    display: none;
  }

  #bungastory {
    position: absolute;
    right: 0;
    width: 10rem;
    margin-top: -10rem;
    right: 20rem;
    animation: shake 10s ease-in 0s infinite;
  }
  section .gift {
    padding: 10rem 1rem;
    text-align: center;
  }

  section .gift h2 {
    color: #916e3d;
    font-family: jawa;
    font-size: 3rem;
  }

  .gift p {
    margin-bottom: 1rem;
    color: #916e3d;
    font-size: 1rem;
  }

  section .gift .gifts-content {
    display: flex;
    justify-content: center;
    gap: 2rem;
  }
  .payment {
    z-index: 2;
  }
  .payment p {
    z-index: 2;
    margin-top: 0.5rem;
    color: #fffff0;
    background-color: #916e3d;
    padding: 0.5rem;
    border-radius: 10px;
  }
  .gifts-content .payment img {
    z-index: 2;
    width: 20rem;
    border-radius: 1rem;
    z-index: 1;
    filter: grayscale(2);
  }

  .gifts-content img:hover {
    filter: none;
  }
  section #rumah {
    position: absolute;
    margin-top: -40rem;
    opacity: 20%;
    z-index: 0;
    width: 100%;
  }
  .massages {
    width: 100%;

    margin-top: 5rem;

    background-image: url(../assests/img/covermassages.png);
    background-size: cover;
    background-position: right;
    color: #fffff0;
    text-decoration: underline #916e3d;
  }

  .massages h2 {
    text-align: center;
    font-family: jawa;
    font-size: 3rem;
  }

  .massages h3 {
    padding: 0rem 10rem;
    font-size: 2rem;
  }
  .massages form {
    padding: 2rem 10rem;
  }

  .section-messages label {
    font-size: 16px;
    margin-bottom: 8px;
  }

  .section-messages textarea {
    padding: 5px;
    font-size: 14px;
    border-bottom: 2px solid #d1b551;
    border-radius: 4px;
    min-height: 80px;
    resize: vertical;
    margin-bottom: 16px;
  }

  #messageList {
    padding: 2rem 10rem;
    list-style: none;
    margin-top: 20px;
    overflow-y: scroll;
    height: 10rem;
    scrollbar-color: #916e3d rgb(255, 255, 255);
  }

  .massages ul {
    color: black;
    text-align: left;
  }
  .massages ul li {
    border-bottom: 5px solid #d1b551;
    background-color: #fffffc;
  }

  .thanks {
    padding: 2rem 20rem;
    text-align: center;
    justify-content: center;
    background-color: url(../assests/img/img-noise-361x370.png);
  }
  #wayangcowo {
    position: absolute;
    width: 20rem;
    left: 0;
    margin-top: 8rem;
    animation: shake 10s ease-in 0s infinite;
  }
  #wayangcewe {
    position: absolute;
    width: 20rem;
    right: 0;
    margin-top: 8rem;
    animation: shake 10s ease-in 0s infinite;
  }
  .thanks #pengantinvector {
    width: 50%;
    padding: 2rem 0.5rem 0 0.5rem;
    background-color: #785c34;
    border: 0.5rem solid #916e3d;
    border-radius: 100px 100px 0 0;
    box-shadow: 0px 0px 30px 0px rgba(60, 49, 28, 0.75);
  }

  .thanks h2 {
    font-family: jawa;
    color: #916e3d;
    font-size: 3rem;
  }

  .thanks p {
    font: 2rem;
    color: #916e3d;
  }
}
/* @media only screen and (min-width: 992px) {
  body {
    margin-left: 65vh;
    margin-right: 65vh;
  }
} */
